p {
  /* Content */
  width: 50%;
  /* Percentages are relative to the parent object*/

  /*Padding*/
  padding: 10px;
  /* like border, this is a shortcut for padding-top,-bottom,etc.

  /*Border*/
  border: 2px solid blue;

  /*margin*/
  margin: 20px;
  margin-left: 0px;
  /* can also pass 4 values to margin in clockwise order */
}
h1 {
  margin: 0px auto;
}
